# Binaries for programs & plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Go coverage tool output, specifically when LiteIDE used 
*.out

# Dependency directories
# vendor/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History VSCode
.history/